*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  color: #2d2e36;
  background: #f2f4f8;
  font-family: "Poppins", sans-serif;
}
h1 {
  text-align: center;
  font-size: 24px;
}

/* drum */
.drum {
  position: relative;
}
.drum img {
  width: 50px;
  transition: transform 0.5s;
  cursor: pointer;
}
.drum img.playing {
  transform: scale(1.5);
}
.drum > span {
  position: absolute;
  left: -30px;
  transform: translateY(-50%);
  top: 50%;
}

label input {
  display: none;
}
label input + span {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #b1b9c0;
  border-radius: 5px;
  cursor: pointer;
}
label input.active + span {
  border: 2px solid rgba(255, 194, 57, 0.7);
}
label input:checked + span {
  background-color: #9ca2ab;
}

/* controls */
.sequencer-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.sequencer-controls * {
  background: none;
  border: none;
  outline: none;
  font-size: 18px;
}
.sequencer-controls input {
  text-align: center;
  cursor: initial;
}
.sequencer-controls-tempo button:first-child {
  margin-right: 10px;
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 20px;
  }
  label input + span {
    width: 30px;
    height: 30px;
  }
  .drum img {
    width: 30px;
  }
  .drum > span {
    display: none;
  }
}
